.footer {
  flex-shrink: 0;
  background-color: rgba(206, 194, 152, 0.15) !important;
}

.footer .img-fluid {
  display: block;
  height: 100%;
}

.footer-text {
  font-size: 0.7rem;
  padding: 0rem;
  margin: 0rem;
}

hr {
  margin: 0rem;
}